<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>“A strong woman knows she has strength enough for the journey, but a woman of strength knows it is in the journey where she will become strong.”<br>
            Quote from Internet.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>“It always seems impossible until it is done.” - Nelson Mandela.</p>
        </article>
    </body>
</html>